/ {
	chosen {
		zephyr,canbus = &mcp2515_can_bus;
	};
};

&spi2 {
	pinctrl-0 = <&spi2_sck_pb13 &spi2_nss_pb12
		&spi2_miso_pb14 &spi2_mosi_pb15>;
	pinctrl-names = "default";
	status = "okay";
	
	cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;	
	mcp2515_can_bus: can@0 {
		compatible = "microchip,mcp2515";
		spi-max-frequency = <1000000>;
		int-gpios = <&gpioc 15 GPIO_ACTIVE_LOW>; /* c15 */
		status = "okay";
		reg = <0x0>;
		osc-freq = <8000000>;
		bus-speed = <125000>;
		sjw = <1>;
		sample-point = <875>;

		can-transceiver {
			max-bitrate = <1000000>;
		};
	};
};
