/ {
	dcmotors {
		compatible = "dc-motors";
		dc_motor: motor {
			label = "DC motor";
			gpios = <&gpiob 7 GPIO_ACTIVE_HIGH>,
				<&gpioa 15 GPIO_ACTIVE_HIGH>;
		};
	};

	pwmmotors {
		compatible = "pwm-motors";
		pwm_motor_1: pwm_1 {
			pwms = <&pwm2 3 PWM_MSEC(20) (PWM_POLARITY_NORMAL)>;
			min-pulse = <PWM_USEC(11200)>;
			max-pulse = <PWM_USEC(19200)>;
		};

		pwm_motor_2: pwm_2 {
			pwms = <&pwm2 2 PWM_MSEC(20) (PWM_POLARITY_NORMAL)>;
			min-pulse = <PWM_USEC(11200)>;
			max-pulse = <PWM_USEC(19200)>;
		};

		pwm_servo_1: pwm_3 {
			pwms = <&pwm2 1 PWM_MSEC(20) (PWM_POLARITY_NORMAL)>;
			min-pulse = <PWM_USEC(11200)>;
			max-pulse = <PWM_USEC(19200)>;
		};

	};

	steppermotors {
		compatible = "stepper-motors";
		stepper_motor_1: motor_1 {
			label = "Stepper Motor 1";
			dir-gpios = <&gpioa 2 GPIO_ACTIVE_HIGH>;
			step-gpios = <&gpioa 3 GPIO_ACTIVE_HIGH>;
		};

		stepper_motor_2: motor_2 {
			label = "Stepper Motor 2";
			dir-gpios = <&gpiob 8 GPIO_ACTIVE_HIGH>;
			step-gpios = <&gpiob 9 GPIO_ACTIVE_HIGH>;
		};
	};

	aliases {
		pwm-motor1 = &pwm_motor_1;
		pwm-motor2 = &pwm_motor_2;
		pwm-servo1 = &pwm_servo_1;
		stepper-motor1 = &stepper_motor_1;
		stepper-motor2 = &stepper_motor_2;
		dc-motor = &dc_motor;
	};

	chosen {
		zephyr,canbus = &mcp2515_can_bus;
	};
};


&timers2 {
	status = "okay";
	st,prescaler = <1679>;

	pwm2: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch3_pb10 &tim2_ch2_pa1 &tim2_ch1_pa0>;
		pinctrl-names = "default";
	};
};


&spi2 {
	pinctrl-0 = <&spi2_sck_pb13 &spi2_nss_pb12
		&spi2_miso_pb14 &spi2_mosi_pb15>;
	pinctrl-names = "default";
	status = "okay";
	
	cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;	
	mcp2515_can_bus: can@0 {
		compatible = "microchip,mcp2515";
		spi-max-frequency = <1000000>;
		int-gpios = <&gpioc 15 GPIO_ACTIVE_LOW>; /* c15 */
		status = "okay";
		reg = <0x0>;
		osc-freq = <8000000>;
		bus-speed = <125000>;
		sjw = <1>;
		sample-point = <875>;

		can-transceiver {
			max-bitrate = <1000000>;
		};
	};
};
