/ {	
	pwmmotors {
		compatible = "pwm-motors";
		pwm_motor_1: pwm_1 {
			pwms = <&pwm1 2 PWM_MSEC(20) (PWM_POLARITY_NORMAL)>;
			min-pulse = <PWM_USEC(1120)>;
			max-pulse = <PWM_USEC(1920)>;
		};
		pwm_motor_2: pwm_2 {
			pwms = <&pwm2 1 PWM_MSEC(20) (PWM_POLARITY_NORMAL)>;
			min-pulse = <PWM_USEC(1120)>;
			max-pulse = <PWM_USEC(1920)>;
		};

		pwm_servo_1: pwm_3 {
			pwms = <&pwm3 2 PWM_MSEC(20) (PWM_POLARITY_NORMAL)>;
			min-pulse = <PWM_USEC(600)>;
			max-pulse = <PWM_USEC(2400)>;
		};

		pwm_servo_2: pwm_4 {
			pwms = <&pwm4 3 PWM_MSEC(20) (PWM_POLARITY_NORMAL)>;
			min-pulse = <PWM_USEC(600)>;
			max-pulse = <PWM_USEC(2400)>;
		};
	};

	dht11: dh22 {
		compatible = "aosong,dht";
		status="okay";
		dio-gpios = <&gpioa 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};

	zephyr,user {
		io-channels = <&adc1 0>, <&adc1 1>, <&adc1 8>, <&adc1 9>;
	};

	aliases {
		pwm-motor1 = &pwm_motor_1;
		pwm-motor2 = &pwm_motor_2;
		pwm-servo1 = &pwm_servo_1;
		pwm-servo2 = &pwm_servo_2;
		dht-11 = &dht11;
	};

	chosen {
		zephyr,canbus = &mcp2515_can_bus;
	};

};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	pinctrl-names = "default";
	status = "okay";
	current-speed = <115200>;
};

&timers1 {
	status = "okay";
	st,prescaler = <1679>;

	pwm1: pwm {
		status = "okay";
		pinctrl-0 = <&tim1_ch2_pa9>; 
		pinctrl-names = "default";
	};	
};

&timers2 {
	status = "okay";
	st,prescaler = <1679>;

	pwm2: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch1_pa15>;
		pinctrl-names = "default";
	};
};

&timers3 {
	status = "okay";
	st,prescaler = <1679>;

	pwm3: pwm {
		status = "okay";
		pinctrl-0 = <&tim3_ch2_pb5>;
		pinctrl-names = "default";
	};
};

&timers4 {
	status = "okay";
	st,prescaler = <1679>;

	pwm4: pwm {
		status = "okay";
		pinctrl-0 = <&tim4_ch3_pb8>;
		pinctrl-names = "default";
	};
};

&adc1 {
	pinctrl-0 = <&adc1_in0_pa0 &adc1_in1_pa1 &adc1_in8_pb0 &adc1_in9_pb1>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@8 {
		reg = <8>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@9 {
		reg = <9>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&spi1 {
	status = "okay";
	cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;	
	mcp2515_can_bus: can@0 {
		compatible = "microchip,mcp2515";
		spi-max-frequency = <1000000>;
		int-gpios = <&gpiob 9 GPIO_ACTIVE_LOW>; /* B9 */
		status = "okay";
		reg = <0x0>;
		osc-freq = <8000000>;
		bus-speed = <800000>;
		sjw = <1>;
		sample-point = <875>;

		can-transceiver {
			max-bitrate = <1000000>;
		};
	};
};
