/ {
	dcmotors {
		compatible = "dc-motors";
		dc_motor_1: motor_1 {
			label = "Motor_1";
			gpios = <&gpiob 8 GPIO_ACTIVE_HIGH>,
				<&gpioa 0 GPIO_ACTIVE_HIGH>;
		};
	

		 dc_motor_2: motor_2 {
		 	label = "Motor_2";
		 	gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>,
		 		 <&gpioa 1 GPIO_ACTIVE_HIGH>;
		 };
		 dc_motor_3: motor_3 {
		 	label = "Motor_3";
		 	gpios = <&gpiob 10 GPIO_ACTIVE_HIGH>,
		 	         <&gpioa 3 GPIO_ACTIVE_HIGH>;
		 };
		 dc_motor_4: motor_4 {
		 	label = "Motor_4";
		 	gpios = <&gpioa 2 GPIO_ACTIVE_HIGH>,
		 	 	 <&gpioa 10 GPIO_ACTIVE_HIGH>;
		 };

	};

	limitswitches: limitswitches {
		compatible = "limit-switches";
		gpios = <&gpioa 8 GPIO_ACTIVE_LOW>,
			<&gpioa 9 GPIO_ACTIVE_LOW>;
	};

	aliases {
		motor-1 = &dc_motor_1;
	 	motor-2 = &dc_motor_2;
	 	motor-3 = &dc_motor_3;
	 	motor-4 = &dc_motor_4;
	};

	chosen {
		zephyr,canbus = &mcp2515_can_bus;
	};
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	pinctrl-names= "default";
	status = "okay";
	current-speed = <115200>;
};

&spi1 {
	status = "okay";
	cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;	
	mcp2515_can_bus: can@0 {
		compatible = "microchip,mcp2515";
		spi-max-frequency = <1000000>;
		int-gpios = <&gpiob 9 GPIO_ACTIVE_LOW>; /* B9 */
		status = "okay";
		reg = <0x0>;
		osc-freq = <8000000>;
		bus-speed = <800000>;
		sjw = <1>;
		sample-point = <875>;

		can-transceiver {
			max-bitrate = <1000000>;
		};
	};
};
